# yii console commands
/yii
/yii_test
/yii_test.bat

/info.php

#custom code
/vendor/**/.git
/.htaccess
/frontend/web/.htaccess
/config/params.php
/config/db.php
/frontend/web/index.php
/frontend/web/index-test.php
/*-local.php

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files

*.sublime-project
*.sublime-workspace


# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

###/environments
###/vagrant
###/console
/init
/init.bat
/requirements.php


# cubrid (added) install dir
/cubrid
# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant


# ignore dev installed apps and extensions
/apps
/extensions

# NPM packages
/node_modules
