.l-menu { padding-left:0 !important }

.link-menu {
  width: 200px;
  margin: 20px auto;
}
/*.link-menu ul li {
  display: block;
  text-transform: uppercase;
  height: 30px;
  width: 200px;
  margin-bottom: 3px;
  position: relative;
  border-radius: 4px;
  background: #50a35b;
} */

.link-menu ul li {
    display: block;
    /* text-transform: uppercase; */
    height: 30px;
    width: 180px;
    margin-bottom: 3px;
    position: relative;
    border-radius: 4px;
    background: #50a35b;
    transform: skew(25deg);
}


.link-menu ul li:last-child {
  margin-bottom: 0;
}
.link-menu ul li a {
  color: #fff;
  padding-left: 13%;
  display: block;
  width: 85%;
  height: 100%;
  font-size: 17px;
  line-height: 32px;
  text-decoration: none;
  position: absolute;
  z-index: 1;
}
.link-menu ul li:before {
  content: '';
  position: absolute;
  background: #7289B6;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.link-menu ul li:after {
  content: '';
  position: absolute;
  background: #367c54;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 0;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.link-menu ul li:hover:before {
  width: 10px;
  left: -10px;
}
.link-menu ul li:hover:after {
  width: 100%;
}


/* Left-a */
/*.wrapcube a { text-decoration:none !important;}*/
.side.front {
    font-size: 16px;
/*    font-family: 'Arsenal';
    font-weight: 900;*/
    color: #fafaee;
    text-transform: uppercase !important;
}


.cube {cursor:pointer}

.cube p {
    margin-top: -14px !important;
}
.wrapcube{
  perspective: 2000px;
  perspective-origin: center center;
  width:200px; 
  height:320px;
  position:absolute;   
  top:50px; 
  left:50px;
}
.cube{
  width:100%;
  height:50px;
  margin:0 0 0 0;
  position:relative;

  transition:.25s all ease-out;
  transform-style: preserve-3d;

  font-family: arial, helvetica, sans-serif;
  text-align: center;
  line-height: 4.5;
}

	
#a{z-index:1;}
#b{z-index:2;}
#c{z-index:3;}
#d{z-index:4;}
#e{z-index:3;}
#f{z-index:2;}
#g{z-index:1;}
	
.cube[data-rotate='1']{ 
  transform: rotateY(3deg) translateZ(-00px)  translateX(0px); 
}
.cube[data-rotate='2']{ 
  transform: rotateY(6deg) translateZ(-00px) translateX(0px); 
}
.cube[data-rotate='3']{ 
  transform: rotateY(9deg) translateZ(-00px) translateX(0px); 
}
.cube[data-rotate='4']{ 
  transform: rotateY(12deg) translateZ(-00px) translateX(0px); 
}
.cube[data-rotate='5']{ 
  transform: rotateY(15deg) translateZ(-00px) translateX(0px); 
}
.cube[data-rotate='6']{ 
  transform: rotateY(18deg) translateZ(-00px) translateX(0px); 
}
.side{
  width:100%;
  height:100%;
  position:absolute;
  backface:hidden;
}

.front { 
  height:50px; 
  transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) translateZ(100px); 
}
.left { 
  height:50px; 
  transform: rotateY(-90deg) rotateX(0deg) rotateZ(0deg) translateZ(100px); 
}
.right { 
  height:50px; 
  transform: rotateY(90deg) rotateX(0deg) rotateZ(0deg) translateZ(100px); 
}
.back { 
  height:50px; 
  transform: rotateY(-180deg) rotateX(0deg) rotateZ(0deg) translateZ(100px); 
}
.top { 
  height:200px; 
  transform: rotateY(0deg) rotateX(90deg) rotateZ(0deg) translateZ(100px); 
}
.bottom { 
  height:200px; 
  transform: rotateY(0deg) rotateX(-90deg) rotateZ(0deg) translateZ(-50px); 
}

#a .side{ background:#16a085; }
#a .front{ background:#1abc9c; }

#b .side{ background:#27ae60; }
#b .front{ background:#2ecc71; }

#c .side{ background:#2980b9; }
#c .front{ background:#3498db; }

#d .side{ background:#8e44ad; }
#d .front{ background:#9b59b6; }

#e .side{ background:#f39c12; }
#e .front{ background:#f1c40f; }

#f .side{ background:#d35400; }
#f .front{ background:#e67e22; }

#g .side{ background:#c0392b; }
#g .front{ background:#e74c3c; }



/* left-4-1*/
.banner a {color:#5d9463;}
.line span:hover > .line  span a {    color:gray !important;}

.line span:hover {
    background-color: #9ecd9e;

}

.banner {
	position:relative;
	left:-35%;
	margin-top:-20% !important;
	transform:scale(0.5);
  	font-size: 17px;
	font-family: 'Oswald', 'Helvetica Neue', Helvetica;
	line-height: 1.4;
	z-index: 1;
	margin: 80px auto;
	width: 330px;
}

.banner .line {
	margin: 0 0 10px;
	width: 100%;
	height: 78px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
	text-align: center;
/*	text-transform: uppercase; 2em*/
	font-size: 42px;
	line-height: 78px;
	transform: skew(0, -15deg);
}

.banner .line:after,
.banner .line:first-child:before {
	position: absolute;
	top: 44px;
	left: 0;
	z-index: -1;
	display: block;
	width: 330px;
	height: 78px;
	border-radius: 4px;
/*	background: rgba(180,180,180,0.8);*/
background: #8c8686;
	content: '';
	transform: skew(0, 15deg);
}

.banner .line:first-child:before {
	top: -10px;
	right: 0;
	left: auto;
}

.banner .line:first-child:before,
.banner .line:last-child:after {
	width: 0;
	height: 0;
	border-width: 38px;
	border-style: solid;
	border-color: rgba(180,180,180,0.8) rgba(180,180,180,0.8) transparent transparent;
	background: transparent;
}

.banner .line:last-child:after {
	top: 12px;
	border-color: transparent transparent rgba(180,180,180,0.8) rgba(180,180,180,0.8);
}

.banner span {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 4px;
/*	background: rgba(255,255,255,0.9);
	color: #666;                      */
	text-shadow: 1px 1px 0 #444;


background: rgb(221, 238, 205);
color:#5d9463;

}

/* left-3*/
.menu a { color:darkgreen;     font-family: 'Myriadprocond', serif; font-size:19px}

#.menuItem:hover >  span a{color:#f3f3f3;}

.1vk {	background: url(../../images/pics/menu-tw.png) top right !important;
	background-repeat: no-repeat;
width:140px;
}



.menu {
top:25px;
	height: 180px;
	background: url(../../images/pics/menu-left-short.png) !important;
	background-repeat: no-repeat;
	padding-top: 39px;
	border-radius: 4px;
	position: relative;
/*  height: 100%;*/
  width: 185px;
/*  background: #2c3e50;
  background: rgba(29, 107, 93, 0.61); */
  background: rgba(87, 167, 105,0);

  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;

margin-left: 25px;
}


#aa .menu {
top:25px;
	height: 220px;
	background: url(../../images/pics/menu-moto.png) !important;
	background-repeat: no-repeat;
	padding-top: 39px;
	border-radius: 4px;
	position: relative;
/*  height: 100%;*/
  width: 185px;
/*  background: #2c3e50;
  background: rgba(29, 107, 93, 0.61); */
  background: rgba(87, 167, 105,0);

  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;

margin-left: 25px;

}



.menuItem {
  position: relative;
  padding: 6px;
  transition:border .5s, background .2s;  
  top:-8px;
  margin-left:-10px;
  width:190px;

 text-align:center;
}


.menuItem span {
  position: relative;
  left:10px;
  top:0;
  transition:color 1s;
/*  color:rgba(255,255,255,.8);*/
  font-weight:500;


}

/*
.menu:hover .menuItem  span {
 color:rgba(255,255,255,1);
} */


.menuItem:hover {
/*  background: #34495e; */
   background: #bcdcc2;
  cursor: pointer;

}

.uno {
  border-left:5px solid #7ebc86;
}

.1uno:hover{
  border-left:20px solid #7ebc86;
}

.dos {
 border-left:5px solid #57a769;
}

.1dos:hover {
 border-left:20px solid #57a769;
}

.tres {
  border-left:5px solid #498a51;
}

.1tres:hover {
  border-left:20px solid #498a51;
}

.cuatro {
  border-left:5px solid #286f39;
}

.1cuatro:hover {
  border-left:20px solid #286f39;
}

.cinco {
 border-left:5px solid #e74c3c;
}

.cinco:hover {
 border-left:20px solid #e74c3c;
}



 /*

.menuItem {
    /* border: 1px solid; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 9px;
    transform: skew(-15deg);
    width: 140px !important;
    left: 5px;
}


.menuItem:after {
    transform: skew(15deg) !important;
    border-left: 5px solid black !important;
}


.menuItem span a {
    transform: skew(15deg) !important;
    display: block;
} */





.fix-menu  {
  position: fixed;
top:50px;
}





.wrapnav {  

#background: url(../../images/pics/menu-left-wide2.png);
background-repeat: no-repeat;
background-size: cover;
height:180px;
margin-left:-15px;
}


#b .nav-sidebar {
    margin-right: 0; 
margin-left:0 !important;}



#b .nav-sidebar {
   
#    padding-top: 32px;
    padding-top: 12px;
}

#b .nav-sidebar i {
    margin-left: -5px;
}