/*all ul li*/
ul li { list-style-type:none;}


a {
    color: #000;
    text-decoration: none;
}
a:hover, a:focus {
    color: #1a2c17;
    text-decoration: none;
}


a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}


.mtext {text-align:left;  

/*border:1px solid lightgray;
border-radius:15px;
background-color:#fcfcfc;
padding-top:20px;
*/
    position: relative;
    top: 70px;


padding-bottom:30px; 
margin-bottom:80px;

text-indent:50px;

    font-family: 'Myriadprocond';
font-size:25px;
padding-left:60px; padding-right:60px;
}


.siteblock {
    text-align: justify;
 padding-left:15px;
padding-right:15px;
}



#map2 p {font-size:13px !important}

 #map {
            width: 520px; padding: 0; margin: 0;
            height: 480px; margin-top:32px; /*530*/
        }
 



.panel-group .panel {
    margin-bottom: 20px !important;}



@-webkit-keyframes online {
    0% {  color: darkred ;  }
    30% {  color: darkred ;  }
    70% {  color: green;  }
    100% {  color: darkgreen;}
}
.take {  
     margin-top: -14px;
  font-family: 'Rex';  

     font-weight:600;
     font-size:17px;
     margin-right:3px;
}

.take a {
  cursor:pointer;
  color:darkred;
 -webkit-transition:online 3s ease-in-out;
transition: online 3s ease-in-out; 

-o-animation: online 3s infinite alternate ;
  -moz-animation: online 3s infinite alternate ;
 animation: online 3s infinite alternate ;
 -webkit-animation: online 3s infinite alternate ; 

}

.take a:hover {
    text-decoration:none;
    color: darkred !important;
    /* text-shadow: 1px 1px 2px green, 0 0 2px green, 0 0 2px darkgreen;    */
    text-shadow:  0 0 1px darkred !important;   

}


.page:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
   background-image: url("/images/fon/11.jpg"); 
   background-position: 40% 30%;
  background-size:cover;

  width: 100%;
  height: 100%;
  /* -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px); */
      opacity: .1;

}


.page { 
    left: 0;
  right: 0;
  z-index: 0;

 /* background: rgba(245, 245, 220, 0.5) !important; */
 background:;

background-repeat: repeat;
background-attachment:fixed;
background-position:50%;
width: 100%;
height: 100%;
  z-index: -1;   


  
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;


 /*
 
 , radial-gradient(#00ff00, #000000), 
repeating-linear-gradient(transparent 0, rgba(0, 0, 0, 0.1) 2.5px, transparent 5px);

  /*background-color: rgba(226, 194, 177, 0.1) !important;*/
 /*  position: absolute; */
}



.foot1 {
    background-image: linear-gradient(to right, #6fbe80 33%, rgba(123, 99, 156, 0) 0%) !important;
    background-position: top;
    background-size: 4px 1px !important;
    background-repeat: repeat-x;
}



.backgr {
    background: rgba(255, 255,255, 0.55);;
/*         border-left:1px solid gray;
    border-right:1px solid gray; */
}

.mainb .backgr {    
  box-shadow: 0px 10px 50px rgba(255, 255, 255, 0.55);
    background:rgba(255, 255, 255, 0.55);
/*     border-left:1px solid gray;
border-right:1px solid gray; 
    margin-top: -4px;

*/
    margin-top: -2px;
    position: relative;
}

#error .mainb .backgr { margin-top:42px;}


.maintext {margin-top:30px;}


@media (max-width:1200px) {
    .saleimg { width:190px !important; }}


    @media (min-width:768px) and (max-width:991px) {
section.main {
     
}}

@media (max-width:768px) {

.box1, .box2,.box3,.box4 { text-align: center !important; }

}

.box1, .box3 { text-align: right;}





.maintext {display:none;}





.foot1 p a:hover,.foot1 .p a:hover,.foot1 .list a:hover {
}


.news {
    padding-bottom: 30px;
}

.saleblock:last-child{padding-bottom: 30px; padding-top:0;}


.anilogo {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}




/*contacts section*/


#contact .box1, #contact .box2 { margin-top:7px !important; }
#contact .box3, #contact .box4 { margin-top:0 !important; margin-bottom:0px; }


#contact .blocktitle
{ font-size:17px ; text-indent: 0;  }


#contact .box1, #contact .box3 { text-align:center }
#contact .box2, #contact .box4 { text-align:center }

#contact .box2 {    padding-left: 15px;}
#contact p.anim_one, #contact  p.anim_three, #contact p.anim_two, #contact p.anim_four
{ text-align:center; right:initial; text-indent:0 !important; }


.contacts {width:70%}



#contact .box1,#contact  .box2,#contact  .box3,#contact  .box4 {
    height: 150px;
}

/*section.feedback {
margin-top: 420px;
padding-bottom:50px;
}

footer {margin-top: 355px !important;}*/



.wideline {
    position: relative;
    width: 100%;
    height:355px;
    left: 0;
    min-height: 355px;
    margin-bottom:50px !important;
}





/*div#full-widthid {
    padding-top: 55px;
}*/


#contact .container-fluid {
    margin-left: -4% !important;
    margin-right: -5% !important;

}




.ymaps-2-1-47-balloon {
    box-shadow: none !important;
}





            /* Оформление меню (начало)*/
        .menu {
            list-style: none;
            padding: 5px;

            margin: 0;
        }
        .submenu {
            list-style: none;

            margin: 0 0 0 20px;
            padding: 0;
        }
        .submenu li {
            font-size: 90%;
        }
            /* Оформление меню (конец)*/



.ballon p {font-size:13px !important; text-align: left; color:#fff;}
 .ballon img.ll {
    float: left !important;
    width: 55px;
    height: 70px;
    margin: 5px 0 0 5px !important;}


.ballon {
    padding: 5px;
    width: 270px;
    height: 59px;
    float: left !important;
    text-align: left !important;
    color: #fff;
    /* position: absolute !important; */
}

.ballon .close {
    position: absolute !important;
    float: left !important;
    font-size: 15px !important;
    font-weight: bold;
    top: 0 !important;
    right: 0px !important;
    cursor: pointer;
    padding-right: 10px !important;
}
#map2 p {font-size:13px !important}


button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

.panell {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    display:none;
    transition: max-height 0.2s ease-out;
    max-height:30px;
}

button.accordion.active + div.panell {display:table !important;}



.page-loader .page-loader-body {
    background-image: url(/images/map/logo2.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 5px 4px;
}




/*second page*/


.site-distance { margin-bottom:50px;}

.site-automotoschool p, .preimul, .preimul2 {
    font-family: 'Myriadsetpro', sans-serif !important;
     font-size: 18px;
}

.preimul {padding-bottom:30px; margin-left:40px; }                                              
.preimul3 {padding-bottom:10px; margin-left:40px; }                                              
.preimul2 {padding-bottom:30px; padding-left:0px;}
.dopuslugi {padding-bottom:30px}
.safetydriving {margin-left:30px;padding-bottom:30px}


.students a:hover {
    color: #3f3f3f !important;
}

.students h4 a, .students h5 a { color:#0c500c !important}

.students img {
    margin-top: 20px;
    margin-bottom: 25px;
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.automotoschool .table { font-size:14 px !important}


tr:hover {background-color: #f5f5f5}





/*block AB */




/* MODAL */
.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}


.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(27, 65, 35, 0.78);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #000;
	background: #fff;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
}

.md-content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.md-content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

.md-content button {
/*	display: block;
	margin: 0 auto;
	font-size: 0.8em; */
}

/* Effect 3: Slide from the bottom */
.md-effect-3 .md-content {
	-webkit-transform: translateY(20%);
	-moz-transform: translateY(20%);
	-ms-transform: translateY(20%);
	transform: translateY(20%);
	opacity: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.md-show.md-effect-3 .md-content {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}



.bodyin {overflow: hidden;     z-index: 2;
opacity: .5; 
background: #333;  }



/*Modal bootstrap centering*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}




/*loader*/
.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  float: left;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  z-index: 9999999;
  background: #fff;
  transition: .3s all ease;
}

.page-loader.loaded {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.page-loader.ending {
  display: none;
}

.page-loader .page-loader-body {
  text-align: center;
}

.cssload-loader {
  position: relative;
  left: calc(50% - 31px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  perspective: 780px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 1.15s linear infinite;
  -o-animation: cssload-rotate-one 1.15s linear infinite;
  -ms-animation: cssload-rotate-one 1.15s linear infinite;
  -webkit-animation: cssload-rotate-one 1.15s linear infinite;
  -moz-animation: cssload-rotate-one 1.15s linear infinite;
  border-bottom: 3px solid #a6c550;
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 1.15s linear infinite;
  -o-animation: cssload-rotate-two 1.15s linear infinite;
  -ms-animation: cssload-rotate-two 1.15s linear infinite;
  -webkit-animation: cssload-rotate-two 1.15s linear infinite;
  -moz-animation: cssload-rotate-two 1.15s linear infinite;
  border-right: 3px solid #a6c550;
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 1.15s linear infinite;
  -o-animation: cssload-rotate-three 1.15s linear infinite;
  -ms-animation: cssload-rotate-three 1.15s linear infinite;
  -webkit-animation: cssload-rotate-three 1.15s linear infinite;
  -moz-animation: cssload-rotate-three 1.15s linear infinite;
  border-top: 3px solid #a6c550;
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}




.alert-custom {
	background: #f2fdec;
	top: 20%;
    width: 400px;
visibility:hidden;
    height: 280px;
transition-duration:3s;

    font-size: 20px !Important;
    text-align: center;

}

.alert-custom span:nth-child(5) {
    font-size: 23px !important;
    top: 35px;
    position: relative;
}



.alert-success {margin: 25px 0 10px;}



.greenline {background: url(../../images/fon/line.jpg) 0 bottom repeat-x;
  width:100%;
height:3px;
opacity:.8;
}

.greenline2 {background: url(../../images/fon/line.jpg) 0 bottom repeat-x;
  width:100%;
height:2px;
}



.affix-top .greenlineup {background: url(../../images/fon/line2.jpg) 0 bottom repeat-x;
  width:100%;
height:2px;
transform:rotateZ(180deg);
opacity:0.7;
}

.navbar-default  {
    z-index: 2;
}
/* 
.greenlinebot {background: url(../../images/fon/line2.jpg) 0 bottom repeat-x;
width:100%;
height:2px;
opacity:0.7;
position:relative;
z-index:555;
margin-left:-1px;
margin-right:-1px;

height:37px;
top:-56px;
border: 1px solid transparent;
border-radius: 10px;
} */

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(115, 253, 96, 0.6) url(../../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

.greenlinebot {
    background: url(../../images/fon/line2.jpg) 0 bottom repeat-x;
    width: 100%;
    height: 2px;
    /* opacity: 0.7; */
    position: absolute;
    z-index: -1;
    /* margin-left: -1px; */
    /* margin-right: -1px; */
    height: 37px;
    /* top: -56px; */
    left: 0;
    border: 1px solid transparent;
    border-radius: 6px;
}

.greenlinel:not(.affix-top) {background: url(../../images/fon/linel.jpg) 0 bottom repeat-x;
  width:2px;
height:39px;
}
.greenliner {background: url(../../images/fon/liner.jpg) 0 bottom repeat-x;
  width:2px;
  height:39px;

}


.style2 {
    transition: all .3s;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top:15px;
padding-left:50px;
}


.style1 {
transition: all .3s;
    height: 100px;
    border: 1px solid #578d60;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-top:15px;
}
.style1 span.fa, .style1 span.fa-stack {
    color:/* #a1b0a4;*/ #578d60;
}


.style5 {
    align-items: center;
    margin-top:15px;
    height:100px;
    border: 1px solid #578d60; border-radius:2px;
}
.style5 span.fa, .style5 span.fa-stack {
    color:/* #a1b0a4;*/ #578d60;
}

.style5 .advpr {margin-top:35px; margin-left:10px;}
.style5 .advpr2{margin-top:24px;margin-left:10px;}
.style5 span {margin-left:20px; margin-top:30px;}


/*begin animate section*/

new {
position:absolute;
left:15px;
  display: inline-block; 
  width: 350px; 
  height: 100px;
  border-color: rgba(0,0,0,0);
  
  border-radius: 100%;
  
  box-sizing: border-box;
  
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  z-index:-1;
}

new:hover {
  border-color: rgba(202,226,193, 0.6);
}

.style5:hover {border:1px solid transparent; transition:0s;}

.style5:hover .showing1 { opacity:1}
.style5:hover new {animation:blfadein .2s forwards, blin .7s forwards;   }
#new.out { animation:blout .3s ;   }


.x1 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 51px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}


.x11 {position:absolute; left:15px; width:350px;height:100px; border: 1px solid #578d60; border-radius:2px;}

.showing1 {opacity:0;}
.showing1.out {opacity:0;transition:.5s;}
.showing1.over {opacity:1; transition:.7s;height: 100%;}
.inside1.out {opacity:1; transition:.5s;}
.inside1.over {opacity:0; transition:.7s;}
.inside.out {opacity:1; transition:.5s;}
.inside.over {opacity:0; transition:.7s;}


new.over {animation:blfadein .2s forwards, blin .7s forwards;   }
new.out { animation:blout .3s ;   }

.cntr new.over {animation:blfadein .2s forwards, blin2 .7s forwards;    }
.cntr new.out { animation:blout2 .3s ;   }

.lst new.over {animation:blfadein .2s forwards, blin3 .7s forwards;    }
.lst new.out { animation:blout3 .3s ;   }




.x2 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x2.over {animation:blfadein .3s forwards, blin 1s forwards;   }
.x2.out { animation:blout .7s ;   }
.x22 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:7px;}
.showing2 {opacity:0;}
.showing2.out {opacity:0; }
.showing2.over {opacity:1;height: 100%;}
.inside2.out {opacity:1; }
.inside2.over {opacity:0;}

.x3 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}


.x33 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing3 {opacity:0;}
.showing3.out {opacity:0; transition:.2s;}
.showing3.over {opacity:1; transition:.2s;height: 100%;}
.inside3.out {opacity:1; transition:.2s;}
.inside3.over {opacity:0; transition:.2s;}

.x4 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x4.over {animation:blfadein .3s forwards, blin2 1s forwards;   }
.x4.out { animation:blout2 .7s ;   }
.x44 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing4 {opacity:0;}
.showing4.out {opacity:0; transition:.2s;}
.showing4.over {opacity:1; transition:.2s;height: 100%;}
.inside4.out {opacity:1; transition:.2s;}
.inside4.over {opacity:0; transition:.2s;}



.x5 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x5.over {animation:blfadein .3s forwards, blin3 1s forwards;   }
.x5.out { animation:blout3 .7s ;   }
.x55 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing5 {opacity:0;}
.showing5.out {opacity:0; transition:.2s;}
.showing5.over {opacity:1; transition:.2s;height: 100%;}
.inside5.out {opacity:1; transition:.2s;}
.inside5.over {opacity:0; transition:.2s;}



.x6 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x6.over {animation:blfadein .3s forwards, blin3 1s forwards;   }
.x6.out { animation:blout3 .7s ;   }
.x66 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing6 {opacity:0;}
.showing6.out {opacity:0; transition:.2s;}
.showing6.over {opacity:1; transition:.2s;height: 100%;}
.inside6.out {opacity:1; transition:.2s;}
.inside6.over {opacity:0; transition:.2s;}


.x7 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x7.over {animation:blfadein .3s forwards, blin 1s forwards;   }
.x7.out { animation:blout .7s ;   }
.x77 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing7 {opacity:0;}
.showing7.out {opacity:0; transition:.2s;}
.showing7.over {opacity:1; transition:.2s;height: 100%;}
.inside7.out {opacity:1; transition:.2s;}
.inside7.over {opacity:0; transition:.2s;}


.x8 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x8.over {animation:blfadein .3s forwards, blin2 1s forwards;   }
.x8.out { animation:blout2 .7s ;   }
.x88 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing8 {opacity:0;}
.showing8.out {opacity:0; transition:.2s;}
.showing8.over {opacity:1; transition:.2s;height: 100%;}
.inside8.out {opacity:1; transition:.2s;}
.inside8.over {opacity:0; transition:.2s;}


.x9 {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 55px dashed rgba(202,226,193, 0); 
  background: rgba(202,226,193,0.6);
}

.x9.over {animation:blfadein .3s forwards, blin3 1s forwards;   }
.x9.out { animation:blout3 .7s ;   }
.x99 {position:absolute;left:15px; width:350px;height:100px;border: 1px solid #578d60; border-radius:2px;}
.showing9 {opacity:0;}
.showing9.out {opacity:0; transition:.2s;}
.showing9.over {opacity:1; transition:.2s;height: 100%;}
.inside9.out {opacity:1; transition:.2s;}
.inside9.over {opacity:0; transition:.2s;}

@keyframes blfadein {
  0% {  background: rgba(202,226,193,0.6);
}
  100% {  background: rgba(202,226,193,0);
}
}

@keyframes blin {
  0% {border: 51px dashed rgba(202,226,193, 0)}
  40% {border: 1px dashed rgb(84, 146, 60);}
  100% {border-radius:10px; border: 1px dashed rgb(84, 146, 60); width:530px; height:220px;background:white; opacity:1; z-index:555; left:-20px;}
}

@keyframes blout {
  100% {border: 51px dashed rgba(202,226,193, 0)}
  30% {border: 1px dashed rgb(84, 146, 60);}
  0% {border-radius:10px; border: 1px dashed rgb(84, 146, 60);width:530px; height:220px; left:-20px;}
}





@keyframes blin2 {
  0% {border: 51px dashed rgba(202,226,193, 0)}
  40% {border: 1px dashed rgb(84, 146, 60);}
  100% {border-radius:10px; border: 1px dashed rgb(84, 146, 60); width:530px; height:220px;background:white; opacity:1; z-index:555; left:-80px;}
}

@keyframes blout2 {
  100% {border: 51px dashed rgba(202,226,193, 0)}
  30% {border: 1px dashed rgb(84, 146, 60);}
  0% {border-radius:10px; border: 1px dashed rgb(84, 146, 60);width:530px; height:220px; left:-80px;}
}




@keyframes blin3 {
  0% {border: 51px dashed rgba(202,226,193, 0)}
  40% {border: 1px dashed rgb(84, 146, 60);}
  100% {border-radius:10px; border: 1px dashed rgb(84, 146, 60); width:530px; height:220px;background:white; opacity:1; z-index:555; left:-130px;}
}

@keyframes blout3 {
  100% {border: 51px dashed rgba(202,226,193, 0)}
  30% {border: 1px dashed rgb(84, 146, 60);}
  0% {border-radius:10px; border: 1px dashed rgb(84, 146, 60);width:530px; height:220px; left:-130px;}
}

/* .x11,.x22,.x33,.x44,.x55,.x66,.x77,.x88,.x99 { cursor:pointer; }
 */.xi-title { font-size:20px; font-weight:bold; text-align:center;  padding-top:25px;
}
.xi-text { padding-left:30px; padding-right:30px; text-align:justify;}




.fa-inverse2 {
  color:#e8ffdb;
}

.fa-outline-inverse{
	text-shadow: -0.12ex 0 #578d60,-0.1ex -0.1ex #578d60, 0 -0.12ex #578d60, 0.1ex -0.1ex #578d60, 0.12ex 0 #578d60, 0.1ex 0.1ex #578d60, 0 0.12ex #578d60, -0.1ex 0.1ex #578d60;
}



.style1:hover {
    border: 1px solid #df8706;
    box-shadow: 4px 0 4px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.24);
}
.style1:hover .fa {
color:/*#3a7849;*/ #df8706;
}
.style1:hover .fa-square {color:#fff;}
.style1:hover .fa-circle {color:#d0e7c3}
.style1:hover .fa-outline-inverse{
	text-shadow: -0.12ex 0 #df8706,-0.1ex -0.1ex #df8706, 0 -0.12ex #df8706, 0.1ex -0.1ex #df8706, 0.12ex 0 #df8706, 0.1ex 0.1ex #df8706, 0 0.12ex #df8706, -0.1ex 0.1ex #df8706;
}
.style1:hover .fa-inverse2 {color:#f3fded}


.style1 .advpr, .style2 .advpr {margin-left:-10px;}
 



.style1.iskl .fa {
transform:scale(0.75);

}

.style1 .advpr, .style5 .advpr, .style5 .advpr2 {font-weight:bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; font-size:17px !important; 
text-align:left}



.style2 {
font-family: 'Roboto', Helvetica, sans-serif !important;
font-size:14pt;
color:#666;
font-weight:300;
}
.style2 p {margin-left:-10px}
.style2 .advpr {

/* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; */



font-size:18pt !important; 
color:#666;
text-align:left}

/*.preimbox {display: table; width:100%;}*/

.fa-stack-bottom-right {
    position: absolute;
    left: 1em;
    top: 0.8em;
}


.uslv img p:first-child {font-weight:bold}
.uslv {margin-top:30px;
	line-height: 0.8;
    text-align: left;
display: flex;
    align-items: center;
}


.indent50 {text-indent:50px;}

.m350 {margin-top:340px}


.site-distance.siteblock {
    padding: 0 160px 0 160px; }

.green {color:#0c500c !important;}

.lineheight1 {line-height:1 !important}




.fa-stack > .fa-badge-bg{
	position:absolute;
	right:-10%;
	bottom:-5%;
	font-size:120%;
	height:60%;
	width:60%;
	line-height:102%;
	text-align:center;
}
.fa-stack > .fa-badge{
	position:absolute;
	right:-10%;
	bottom:-5%;
	font-size:100%;
	height:60%;
	width:60%;
	line-height:120%;
	text-align:center;
}

.fa-stack > .fa-badge2{
	position:absolute;
	right:-20%;
	bottom:15%;
	font-size:100%;
	height:60%;
	width:60%;
	line-height:120%;
	text-align:center;
}

.fa-stack {font-size:19px !important}





.style2 .col-sm-9 {
    padding-right: 110px;
    text-align: justify;
}

#incoming .panel-group a:hover {text-decoration:underline;}

#incoming .panel-group h4.panel-title {font-size:22px !important;}



.AA1 {float:right; margin-right:20px;}
.BB1 {float:left; margin-left:20px;}


.loadr {
  color: darkgreen;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 28px;
  opacity: 0.8;
}
.loadr span {
  display: inline-block;
  -webkit-animation: pulser 0.5s alternate infinite ease-in-out;
          animation: pulser 0.5s alternate infinite ease-in-out;
}
.loadr span:nth-child(odd) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
@-webkit-keyframes pulser {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}
@keyframes pulser {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.5;
  }
}






@-webkit-keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-icon-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
  33.3% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-icon-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical:before {
  content: "\f062";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
  -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}





.nav-sidebar i {
    padding-left: 20px;
    /* text-align: justify; */
}

#aboutus .nav-sidebar i {
    padding-left: 0;
    display:none;
    /* text-align: justify; */
}
#aboutus .nav-sidebar span {
    padding-left: 0;
font-size:15px;
}

#aboutus .nav-sidebar {margin-top:20px}

#aboutus h4.panel-title {font-size:24px !important}

#aboutus .panel-group .panel {
    margin-bottom: 8px !important;
}

#aboutus .row-about {
margin-left:50px; margin-right:50px;
}

#aboutus div.post-bodycopy p {
    margin: 1em 0;
    padding: 0;
    display: block;
}
#aboutus p.text {
    text-align: justify;
    text-indent: 33px;
}


#aboutus ul li {
    list-style-type: initial;
}

.nav-sidebar span {
    padding-left: 25px;
}


.nav-sidebar {
    margin-left: -15px !important;
}

.nav-sidebar .fa {
    font-size: 17px;
    color: gray;
}

 .fa-rocket, .fa-star {
    font-size: 20px !important;
}

.fa-clock-o { font-size: 19px !important;}
.nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
    
    background-color: #bcdcc2 !important;
}

.nav-sidebar .item:hover .fa {
 -webkit-animation-name: hvr-icon-wobble-vertical;
  animation-name: hvr-icon-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.nav-sidebar .item:hover span {
    color:darkgreen; 
}


.xi-text {width:528px}