/* Main six link-blocks */
#index .box1 {
    -webkit-animation: slideInRight 1s forwards;
    animation: slideInRight 1s forwards;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -o-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
#index .box2 {
    -webkit-animation: flipInXX 1s forwards;
    animation: flipInXX 1s forwards;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}
#index .box3 {
    -webkit-animation: fadeInN 1s forwards;
    animation: fadeInN 1s forwards;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
#index .box4 {
    -webkit-animation: expandUp 1s forwards;
    animation: expandUp 1s forwards;
    -webkit-animation-delay: 1.4s;
    -moz-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
#index .box5 {
    -webkit-animation: bigEntrance 1.3s forwards;
    animation: bigEntrance 1.3s forwards;
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
#index .box6 {
    -webkit-animation: expandUp 1s forwards;
    animation: expandUp 1s forwards;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes flipInXX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateX(150px);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateX(30%);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateX(30%);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    95% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
@keyframes flipInXX {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    95% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
/**
* SlideInRight Keyframes Animation
*/

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes slideInLeft {
    0% {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }
    100% {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/* Hover section */

@-webkit-keyframes rotatey2 {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}
@keyframes rotatey2 {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -o-transform: rotate(1deg);
    }
    50% {
        transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
}
/* Wobble To Top Right */

@-webkit-keyframes hvr-wobble-to-top-right {
    16.65% {
        -webkit-transform: translate(8px, -8px);
        transform: translate(8px, -8px);
    }
    33.3% {
        -webkit-transform: translate(-6px, 6px);
        transform: translate(-6px, 6px);
    }
    49.95% {
        -webkit-transform: translate(4px, -4px);
        transform: translate(4px, -4px);
    }
    66.6% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    83.25% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
@keyframes hvr-wobble-to-top-right {
    16.65% {
        -webkit-transform: translate(8px, -8px);
        transform: translate(8px, -8px);
    }
    33.3% {
        -webkit-transform: translate(-6px, 6px);
        transform: translate(-6px, 6px);
    }
    49.95% {
        -webkit-transform: translate(4px, -4px);
        transform: translate(4px, -4px);
    }
    66.6% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    83.25% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/* Wobble Top */

@-webkit-keyframes hvr-wobble-top {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}
@keyframes hvr-wobble-top {
    16.65% {
        -webkit-transform: skew(-12deg);
        transform: skew(-12deg);
    }
    33.3% {
        -webkit-transform: skew(10deg);
        transform: skew(10deg);
    }
    49.95% {
        -webkit-transform: skew(-6deg);
        transform: skew(-6deg);
    }
    66.6% {
        -webkit-transform: skew(4deg);
        transform: skew(4deg);
    }
    83.25% {
        -webkit-transform: skew(-2deg);
        transform: skew(-2deg);
    }
    100% {
        -webkit-transform: skew(0);
        transform: skew(0);
    }
}
.blocktitle {
    font-family: 'Myriadsetpro', sans-serif;
    white-space: nowrap;
    font-size: calc(.75em - -0.5vmin);
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    bottom: -10px;
    text-shadow: 2px 0px 3px #d7d3d3;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

.box2 p::before,
.box2 p::after {
    left: 56% !important;
}

@keyframes cleffect {
    to {
        -webkit-transform: none;
        -moz-transform: noen;
        transform: none;
    }
}
@keyframes cleffect-st {
    to {
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
        max-width: 100%;
    }
}
@-webkit-keyframes smooth {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes smooth {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.anim_two::before,
.anim_two::after {
    left: 56% !important;
}

/* 9 blocks */

@keyframes animateBoxesFromTopToBottom {
    0% {
        transform: rotateX(90deg) translateY(-150%);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) translateY(0%);
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* super-button: Footer (Запись на занятия) */

.wrapperb {
    height: 100%;
    display: inline-block;
    /*  background: rgba(0, 0, 0, 0.1);*/
}

.buttonn:hover {
    background: rgba(158, 255, 171, 0.1);
}
.buttonn {
    position: relative;
    display: block;
    width: 190px;
    height: 30px;
    color: green;
    font-size: 16px;
    line-height: 200%;
    text-decoration: none;
    text-align: center;
    z-index: 1;
}
.buttonn span {
    position: absolute;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    z-index: 1;
}
.buttonn .borderr {
    border: 1px solid green;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*  background-color: rgba(0, 0, 0, 0.1);*/
}
.buttonn .topp,
.buttonn .bottomm,
.buttonn .leftt,
.buttonn .rightt {
    background-color: green;
    height: 1px;
    width: 0;
}
.buttonn .leftt,
.buttonn .rightt {
    height: 0;
    width: 1px;
}
.buttonn .topp {
    top: -5px;
    left: -15px;
}
.buttonn .bottomm {
    bottom: -5px;
    right: -15px;
}
.buttonn .leftt {
    top: -15px;
    right: -5px;
}
.buttonn .rightt {
    bottom: -15px;
    left: -5px;
}
.buttonn:hover {
    color: green;
}
.textt {
    display: inline-block;
    line-height: 1.1em;
}
.buttonn:hover .textt {
    border-bottom: 1px darkgreen dashed;
}
.buttonn:hover .borderr {
    cursor: pointer;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}
.buttonn:hover .topp,
.buttonn:hover .bottomm {
    width: 190px;
}
.buttonn:hover .leftt,
.buttonn:hover .rightt {
    height: 30px;
}
.buttonn:hover .topp {
    left: -5px;
}
.buttonn:hover .bottomm {
    right: -5px;
}
.buttonn:hover .leftt {
    top: -5px;
}
.buttonn:hover .rightt {
    bottom: -5px;
}
.buttonn .textt {
    position: relative;
    letter-spacing: .03em;
}
@media (max-width: 992px) {
    .buttonn {
        width: 154px;
        height: 25px;
        line-height: 170%;
        font-size: 15px;
    }
    .buttonn:hover .topp,
    .buttonn:hover .bottomm {
        width: 154px;
    }
    .buttonn:hover .leftt,
    .buttonn:hover .rightt {
        height: 25px;
    }
    .buttonn .textt {
        position: relative;
        letter-spacing: .03em;
    }
}