


span.arrow {
   overflow:hidden;
    position: absolute;
    top: -10px;
    left: 41px;
    transform: skew(25deg);
}

.skew-menu ul li:hover span.arrow{
   overflow:visible;
}

ul li:nth-child(2) span.arrow {
    left: 100px;
}

/* FOR TOChKA DELETE IF */

li:hover span.arrow {
    overflow: visible;
    border-radius: 40px;
    /* color: black; */
    background: black;
    width: 3px !important;
    height: 1px;
    top: 5px;
    left: 52px;
}