.menu a { color:darkgreen;     font-family: 'Myriadprocond', serif; font-size:19px}

#.menuItem:hover >  span a{color:#f3f3f3;}

.1vk {	background: url(../../images/pics/menu-tw.png) top right !important;
	background-repeat: no-repeat;
width:140px;
}



.menu {
top:25px;
	height: 180px;
	background: url(../../images/pics/menu-left-short.png) !important;
	background-repeat: no-repeat;
	padding-top: 39px;
	border-radius: 4px;
	position: relative;
/*  height: 100%;*/
  width: 185px;
/*  background: #2c3e50;
  background: rgba(29, 107, 93, 0.61); */
  background: rgba(87, 167, 105,0);

  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;

margin-left: 25px;
}


#aa .menu {
top:25px;
	height: 220px;
	background: url(../../images/pics/menu-moto.png) !important;
	background-repeat: no-repeat;
	padding-top: 39px;
	border-radius: 4px;
	position: relative;
/*  height: 100%;*/
  width: 185px;
/*  background: #2c3e50;
  background: rgba(29, 107, 93, 0.61); */
  background: rgba(87, 167, 105,0);

  transition:width 1s;
  overflow: hidden;
  font-family: 'Michroma', sans-serif;
  z-index: 99;

margin-left: 25px;

}



.menuItem {
  position: relative;
  padding: 6px;
  transition:border .5s, background .2s;  
  top:-8px;
  margin-left:-10px;
  width:190px;

 text-align:center;
}


.menuItem span {
  position: relative;
  left:10px;
  top:0;
  transition:color 1s;
/*  color:rgba(255,255,255,.8);*/
  font-weight:500;


}

/*
.menu:hover .menuItem  span {
 color:rgba(255,255,255,1);
} */


.menuItem:hover {
/*  background: #34495e; */
   background: #bcdcc2;
  cursor: pointer;

}

.uno {
  border-left:5px solid #7ebc86;
}

.1uno:hover{
  border-left:20px solid #7ebc86;
}

.dos {
 border-left:5px solid #57a769;
}

.1dos:hover {
 border-left:20px solid #57a769;
}

.tres {
  border-left:5px solid #498a51;
}

.1tres:hover {
  border-left:20px solid #498a51;
}

.cuatro {
  border-left:5px solid #286f39;
}

.1cuatro:hover {
  border-left:20px solid #286f39;
}

.cinco {
 border-left:5px solid #e74c3c;
}

.cinco:hover {
 border-left:20px solid #e74c3c;
}



 /*

.menuItem {
    /* border: 1px solid; 
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-radius: 9px;
    transform: skew(-15deg);
    width: 140px !important;
    left: 5px;
}


.menuItem:after {
    transform: skew(15deg) !important;
    border-left: 5px solid black !important;
}


.menuItem span a {
    transform: skew(15deg) !important;
    display: block;
} */





.fix-menu  {
  position: fixed;
top:50px;
}





.wrapnav {  

#background: url(../../images/pics/menu-left-wide2.png);
background-repeat: no-repeat;
background-size: cover;
height:180px;
margin-left:-15px;
}


#b .nav-sidebar {
    margin-right: 0; 
margin-left:0 !important;}



#b .nav-sidebar {
   
#    padding-top: 32px;
    padding-top: 12px;
}

#b .nav-sidebar i {
    margin-left: -5px;
}