body {
    background-color: #ddd;
    font-size: 100%;
    padding: 3em;
}    
.mainNav {
    float: left;
    transform: perspective(500px);
    transform-style: preserve-3d;
}    
.mainNav ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.mainNav ul:after {
  background-color: hsla(0,0%,0%,0);
  box-shadow: 0 0.09375em 0.1875em 0.1875em hsla(0,0%,0%,0);
  content: '';
  height: 0.375em;
  left: 0.75em;
  position: absolute;
  right: 0.75em;
  top: 100%;
  z-index: -1;
}
.mainNav a {
    background-color: #f9f9f9;

    backface-visibility: hidden;

    color: #333;
    display: block;
    font: bold 1em/3 sans-serif;
    padding: 0 1.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
    width: 6em;
  z-index:-1000;
}
.mainNav a:after {
    background-color: inherit;
    background-image: 

    bottom: 0;
    color: #fff;
    content: attr(data-title);
    left: 100%;
    line-height: 3;
    position: absolute;
    top: 0;
    transform: rotateY(90deg);
    transform-origin: 0 0;
    width: 100%;
}
.mainNav a:before {
    background-color: inherit;
    background-image: linear-gradient(hsla(0,0%,0%), hsla(0,0%,0%,.07)),
                      linear-gradient(hsla(0,0%,0%,.5), hsla(0,0%,0%,.5));
    bottom: 0;
    content: '';
    height: 9em;
    left: 100%;
    position: absolute;
    top: 0;
    transform-origin: 0 0;
    width: 100%;
}
.mainNav li:nth-child(-n+2) a:before {
    transform: rotateX(-90deg) translateX(-9em) translateZ(3em);
  z-index:-1;
}
.mainNav li:nth-child(n+3) a:before {
    transform: rotateX(-90deg) translateX(-9em);
}
.mainNav li:hover a {
    transform: rotateY(-90deg) translateX(-4.5em) translateZ(4.5em);
    z-index: -1;
  position:relative;
  color:red; background-color:green;
 
}

.blia .blia2 {z-index:-1; background-color:transparent !important; color:blue !important;}


http://codepen.io/joshnh/pen/HAnLJ?editors=0100
http://codepen.io/anon/pen/bgqJGz?editors=1100

no http://codepen.io/tylersticka/pen/rWKVrj

1) http://codepen.io/lsgrrd/pen/evcJt
2) cube
3) http://codepen.io/kenchernoff/pen/KDAdF
4) http://codepen.io/wagnermoschini/pen/bEcsK
5) my variant
